#main-admin-sidebar {
  background-color: #000;
  h2 {
    color: #fff;
  }
}

.admin-side-nav {
  ul {
    list-style: none;
    li {
      padding: 10px 0 10px 0;
      text-transform: uppercase;
      a {
        color: #fff;
        font-size: 18px;
      }
    }

  }
}