body {
  font-family: $body-font-stack, sans-serif;
  background-color: rgb(247, 247, 247);
  color: rgb(119,119,119);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-stack, sans-serif;
  font-weight: 700;
}

h2 {
  text-align: center;
}

.read-more {
  text-transform: uppercase;
  font-size: 14px;
}

.btn.btn-primary {
  background: #3C5EDE;
  letter-spacing: 1px;
}

span.beta {
  font-size: 12px;
  color: rgb(255, 0, 0);
  font-weight: 200;
}

.pager {
  margin-top: 0;
}