@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "variables";
@import "global";
@import "components/header";
@import "components/map";
@import "components/top-banner";
@import "components/search";
@import "components/frontpage";
@import "components/springs";
@import "components/pages";
@import "components/articles";
@import "components/footer";
@import "lib/froala-editor";

#main-admin-sidebar {
  background-color: #000;
  h2 {
    color: #fff;
  }
}

.admin-side-nav {
  ul {
    list-style: none;
    li {
      padding: 10px 0 10px 0;
      text-transform: uppercase;
      a {
        color: #fff;
        font-size: 18px;
      }
    }

  }
}