 @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
 @import "components/header";

 body{
   font-family: 'Cabin', sans-serif;
 }
 h1,h2,h3,h4,h5,h6{
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
 }

 @import "components/top-banner";

#mapcontainer{
  height: 500px;
  margin-bottom: 100px;
}